body {
  margin: 0;
  padding: 1em;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  background-color: #333;
}

.App{
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  justify-content: center; */
  width: 100%;
}

#header{
  height: 50px;
  padding: 20px;
  text-transform: uppercase;
}

.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
}



h1{
  width: 100%;
  background-color: #111;
  color: white;
  text-align: center;
}

.login-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  background-color: rgb(255, 255, 255);
  width: 22%;
}

.login-div form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-div input{
  height: 25px;
  margin: auto;
  border: 1px solid #111;
  border-radius: 5px;
}

.login-btn {
  height: 30px;
  background-color: #111;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: auto;
}

.login-btn:hover{
  background-color: #111;
}

.login-div div{
  background-color: #111;
  margin-bottom: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.login-div div a{
  text-decoration: underline;
  /* color: rgb(32, 23, 23) */
}

.login-div h2{
  background-color: #111;
  color: rgb(255, 255, 255);
  margin-top: 0;
  height: 35px;
  min-width: 300px;
  padding: 2px;
}

.nav{
  width: 100%;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  border: 1px solid white;
}

.nav a{
  height: auto;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  /* border-right: 1px solid white; */
}

.nav a:hover{
  color: rgb(204, 212, 204)
}

.nav .active{
  color: rgb(120, 251, 120);
  font-weight: bold;
}

#usercollectioncard-c{
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#usercollectioncard{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 3px 7px 3px 3px rgba(255, 255, 255, 0.5);
}

#userprofile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  color: #fff;
}

#logout-btn{
  background: transparent;
  color: white;
  width: 100px;
}

#userprofile h2{
  color: #fff;
  width: 100%;
  text-align: center;
  border-bottom: 1.5px solid #fff;
}

#userprofile h1{
  color: #fff;
  background: none;
  width: 100%;
  text-align: center;
  border-bottom: 1.5px solid #fff;
}

#userprofile form{
  display: flex;
  flex-direction: row;
  gap: 2px;
}

#marketplace{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

#marketplacecard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  color: #fff;
  gap: 15px;
}

#marketplace h1{
  text-align: left;
  background: none;
  border-bottom: 1.5px solid #fff;
}

#marktheader{
  height: 50px;
  padding: 10px;
  background: none;
  border-bottom: 1.5px solid #fff;
}

#marketplaceCollectionCard{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  box-shadow: 3px 7px 3px 3px rgba(255, 255, 255, 0.5);
}

#marketplaceCollectionCard img{
  width: 200px;
  height: 200px;
}

#marketplaceCollectionCard p{
  width: 200px;
}

#cart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
}
#cartheader{
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  border-bottom: 1.5px solid #fff;
  /* background-color: #111; */
}

#cartcollectioncard{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  box-shadow: 3px 7px 3px 3px rgba(255, 255, 255, 0.5);
}

#checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#checkout form{
  display: flex;
  flex-direction: column;
}

#checkout input{
  background-color: rgb(255, 0, 0), 0.7;
  width: 400px;
  height: 30px;
}

#checkout button{
  background-color: rgb(255, 0, 0), 0.7;
  width: 400px;
  height: 30px;
}

#checkoutheader{
  text-align: center;
  background: transparent;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  border-bottom: 1.5px solid #fff;
}

#sameas{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sameas input{
  width: auto;
  height: 20px;
}
